<ion-header>
  <ion-toolbar>
    <ion-title class="title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formsCadastro">
    <img
      src="https://png.pngtree.com/png-vector/20190919/ourlarge/pngtree-user-login-or-authenticate-icon-on-gray-background-flat-icon-ve-png-image_1742031.jpg">

    <div class="row">
      <div class="col"><br><br>
        <ion-card>
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="email" formControlName="email" placeholder="email@gmail.com"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Senha</ion-label>
            <ion-input type="password" formControlName="senha" placeholder="*****"></ion-input>
          </ion-item>
        </ion-card>
      </div>
    </div>

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-button class="button" color="primary">Entrar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="button1" color="primary" routerLink="/registro">Registrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="button2" (click)="salvarCadastro" color="primary">Esqueceu Senha</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
