<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-row class="ion-justify-content-end">
    <ion-col size-md="6">
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" placeholder="email@domain.com"></ion-input>
  </ion-item>
  <ion-item>

    <ion-label>Senha</ion-label>
    <ion-input type="password" value="password"></ion-input>
  </ion-item>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
