.size{
  width: 300px;
  height: 50px;
}

img{
  margin-left: 100px;
  margin-top: 150px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.button{
  margin-left: 150px !important;
}

.button1{
  margin-left: 138px !important;
}

.button2{
  margin-left: 110px !important;
}


