<ion-header [translucent]="true">
  <ion-toolbar class="fundo2">
    <ion-title color="light" class="title">
      Página Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">
  <div class="row">
    <div class="col"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <ion-card class="card">
        <ion-button routerLink="/login">Login</ion-button>
        <p class="p">OU</p>
        <ion-button routerLink="/registro">Registre-se</ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>
