<ion-header>
  <ion-toolbar class="fundo2">
    <ion-title color="light" class="title">Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">
  <ion-card class="card">
  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input placeholder="Bolacha recheada"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descrição</ion-label>
    <ion-input placeholder="Bolacha de chocolate"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Valor do produto  R$:</ion-label>
    <ion-input placeholder="Insira o preço do produto"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>validades</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>
</ion-card>
<ion-button class="button" color="success">Salvar</ion-button>
</ion-content>
