.card{
  --ion-background-color:white;
  border-radius: 25px;
  margin-top: 300px;
}
.button{
  display:flex;

}

.fundo{
  --ion-background-color:rgba(140, 210, 130, 0.603);
 }

.fundo2{
  --ion-background-color:rgba(63, 190, 87, 0.829);
 }
