
.fundo{
 --ion-background-color:rgba(111, 215, 247, 0.603);
}

.card{
  --ion-background-color:white;
}

.fundo2{
  --ion-background-color:rgba(76, 140, 160, 0.829);
 }

 .button{
  display: flex;

}

